@page "/"
@using Application.Model;

@inject NavigationManager Navigation
@inject GithubConfigs ghConfigs;

<body>
    <div class="background-container">
        <video autoplay muted loop id="background-video">
            <source src="https://github.githubassets.com/assets/globe-900.hevc-58019d77b21c.mp4" type="video/mp4">
        </video>
    </div>
    <div class="content">
        <h1>Github Statistics</h1>
        <p>Discovery your retrospective statistics.</p>
    </div>
    <div class="content-footer">
        <button @onclick="LoginWithGitHub" class="neon-button">
            Start Now
        </button>
    </div>
</body>

@code {
    private string redirectUri = "https://localhost:7145/auth-callback";

    private void LoginWithGitHub()
    {
        var authorizationUrl = $"https://github.com/login/oauth/authorize" +
                               $"?client_id={ghConfigs.ClientId}" +
                               $"&redirect_uri={Uri.EscapeDataString(redirectUri)}" +
                               $"&scope={Uri.EscapeDataString(ghConfigs.Scope)}";
        Navigation.NavigateTo(authorizationUrl, forceLoad: true);
    }

    private void RedirectToInputs()
    {
        Navigation.NavigateTo("/getStatistics");
    }
}