.ranking-container {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid #bc8cff;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #bc8cff;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.header-item {
    padding: 10px;
    text-align: center;
}

.ranking-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

    .ranking-item:last-child {
        border-bottom: none;
    }

.position {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.avatar-name {
    display: flex;
    align-items: center;
}

    .avatar-name img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .avatar-name span {
        font-size: 18px;
        color: #333;
    }

.form-user-group {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 40px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Tornar a imagem arredondada */
    object-fit: cover; /* Garantir que a imagem preencha o espaço de forma adequada */
}

.user-info {
    display: flex;
    flex-direction: column; /* As labels ficam uma abaixo da outra */
    gap: 5px; /* Espaço entre as labels */
    color: #8db0b5;
    align-items: center;
}

label {
    margin: 0; /* Remove margens para um melhor alinhamento */
}
